--- yaml
layout: 'default'
title: 'Home'
---

// Main hero unit for a primary marketing message or call to action.
.hero-unit
  h1 El sombrero de Doña Magnolia
  p: :markdown
    Una aventura animada
    <br>
    Nombre de la autora

// Example row of columns.
.row
    h2 El libro
    p DocPad takes that good ol' simple approach of writing files and wraps it with the best modern innovations, providing an awesome intuitive, liberating and empowering solution for HTML5 web development.</p>
    p: a.btn(href="_#") Leer
    p
    p a(href="_#") Créditos

